<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.shizijie.beta.plugins.SaveHelper">
            <property name="createdBy" value="created_by"/>
            <property name="createdDate" value="created_date"/>
            <property name="updatedBy" value="updated_by"/>
            <property name="updatedDate" value="updated_date"/>
        </plugin>
    </plugins>
</configuration>
